client/logs
client/*.log
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
client/pnpm-debug.log*
client/lerna-debug.log*

**/node_modules
client/dist
client/dist-ssr
client/*.local

**/.vscode/*
**/!.vscode/extensions.json
**/.idea
**/.DS_Store
**/*.suo
**/*.ntvs*
**/*.njsproj
**/*.sln
**/*.sw?

**/__pycache__
modal/playground.py
modal/returned_data.csv
modal/interop.py

**/.env
**/.env.local